#cadre{
    position: relative;
    width: 150px;
    left: 45%;
}
#cadre2{
    position: relative;
    width: 500px;
}
#cadre3{
    position: relative;
    width: 550px;
}
#cadre4{
    position: relative;
    width: 560px;
}
#cadre5{
    position: relative;
    width: 480px;
}